:root {
    --headline-color: #1f1f1f;
    --text-color: #333;
    --subtitle-color: #424242
}

@font-face {
    font-family: player2;
    src: url(PressStart2P-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* border: 2px solid red; */
}

html {
    /* color: var(--text-color); */
    font-weight: 300;
    margin: 2rem;
    letter-spacing: 00.025rem;
    background-image: url("pics/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
    font-family: player2;

    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 2rem;
}

header {
    margin-bottom: 2rem;
}

details > summary {
    outline: none;
    list-style-image: url(pics/listItem.png);
}

article {
    margin-bottom: 2rem;
}

section > .container {
    margin-bottom: 10rem;
}

h1, h2, h3, h4 {            
    font-weight: 400;
    color: var(--headline-color)
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.125rem;
}

* a {
    color: var(--text-color)
}

* a:visited {
    color: var(--text-color);
}

a:hover, button:hover, details:hover {
    cursor: url("/pics/cursor.png");
}

li {
    list-style-type: none;
}

.hero {
    display: flex;
    justify-content: center;
} 


.hero > .nes-container {
    margin: 0 auto;
}

.hero > img {
    height: 12rem;
    width: 12rem;
}

.profile-image {
    margin: 0;
    padding: 0;
}

.hero-text {
    display: block;
    justify-content: center;
    margin: auto;
}

.page-title {
    margin: 0.5rem auto;
    display: flex;
    justify-content: center;
}

.page-subtitle {
    text-align: center;
}

.page-title h1 {
    letter-spacing: 0.125rem;
}

/**** NAVIGATION STYLES ****/

.top-nav {
    display: flex;
    flex: auto;
    width: auto;
    justify-content: center;
    margin-top: 2rem;
}

.top-nav .nav-item {
    border: none;
    display: inline;
    color: black;
    margin: 1rem;
    padding: 0.75rem 0;
}

.top-nav .nav-item a {
    display: inline-flex;
    padding: 0.75rem;
    color: black;
    text-decoration: none;
    justify-content: space-between;
}


.top-nav .nav-item:hover {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    color: black;
}

/* BODY STYLES */

.section-title {
    text-align: center;
    font-size: 1.75rem;
    color: white;
    text-shadow: 0px 0px 8px #000000;
}


.about-text {
    margin: 0.5rem 0;
    padding: 0rem 2rem 0 3rem;
    width: 50%;
    line-height: 1.25rem;
}


.content-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 1.5rem;
}

.verbage {
    display: inline-block;
    width: 40%; 
    text-align: start;
    margin-left: -4rem;
}

.article-title {
    /* background-color: aqua; */
    display: flex;
    font-weight: 400;
    justify-content: center;
    width: auto;
    margin: 1rem 1rem 0 1rem;
}
.article-subtitle {
    display: flex;
    font-weight: 400;
    justify-content: center;
    width: auto;
    margin: 0.5rem 0;
}

.verbage .verbage-text {
    margin-bottom: 1.5rem;
    /* padding: 0 2rem 0 3rem; */
    line-height: 1.25rem;
}

.details-title {
    font-size: 1.125rem;
}


.feature-list {
    margin-top: 10rem;
}

.details-text {
    color: rgb(35, 37, 39);
    text-indent: 0.5rem;
    text-align: start;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.content-list > li {
    list-style-type: none;
    margin: 0.125rem 0;
}

.work-details li {
    list-style-type: square;
    list-style-position: inside;
    font-size: 0.9rem;
}

/* LINK BUTTONS */
.code-link {
    display: flex;
    text-decoration: none;
    margin: 1.5rem 0 1.5rem 3rem;
    padding: 0.25rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    box-shadow: none;
    width: fit-content;
    box-shadow: 0px 0px 12px #000000;

}


.code-link > a:hover {
    color: white;
}

/**** IMAGES ****/
.content-image {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 40%;
}

.content-image > .nes-container {
    margin: 0 1rem;
    padding: 0;
    background-color: #000;
}


.app-image {
    display: flex;
    height: 24vw;
    padding: 0;
    margin: 0 1rem;
    box-shadow: 0px 0px 12px #000000;

}

.divider {
    color: var(--accent-purple);
    margin: 0.5rem;
}

/**** CONTACT BUTTONS ****/

.footer {
    margin: 0 auto;
}

#contact {
    width: 50%;
    padding: 0 2rem 0 3rem;

}

.contact-links {
    justify-content: space-evenly;
    display: flex;
    margin: 1.5rem auto;
    padding: 0 2rem 0 3rem;
}
.icon-container {
    padding: 0;
}

.social-icon {
    display: flex;
    margin: 0;
    padding: 0;
}


/**** GENERAL ****/
.glass {
    background: rgba(255, 255, 255, 0.664);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 21px );
    -webkit-backdrop-filter: blur( 11px );
    box-shadow: 0px 0px 12px #000000;

}

/**** MOBILE ****/

@media screen and (max-width: 500px) {
    * {
        margin: 0;
        padding: 0;
    }

    html {
        display: block;
        justify-content: center;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }
    
    .hero {
        display: block;
        justify-content: center;
        text-align: center;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .top-nav {
        display: none;
    }

    .section-title {
        display: block;
        margin-bottom: 1rem;
    }

    .content-section {
        display: block;
        width: 100%;
    }

    .verbage {
        display: block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .verbage-text {
        margin-top: 1rem;
    }

    .article-subtitle {
        display: block;
        text-align: center;
        margin: 0;
        width: 100%;
    }

    .code-link {
        margin: 0 auto;
    }


    .content-image {
        margin-top: 2rem;
        display: block;
        width: auto;
        text-align: center;
    }

    .content-image > .nes-container {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }


    .app-image {
        display: inline-block;
        height: 20rem;
        width: 10rem;
        object-fit: contain;
        background-color: red;
        margin-top: 1rem;
    }

    .content-section > .verbage {
        margin-bottom: 2rem;
    }

    .footer {
        width: auto;
    }

    #contact {
        width: 100%;
        text-align: center;
    }


    .icon-list {
        width: 100%;
        margin: 0;
    }

    .social-icon {
        display: inline-block;
        margin: 0 1rem;
    }

    .contact-links {
        display: flex;
        margin: 0 10rem;
        box-shadow: 0px 0px 12px #000000;

    }



}